// some btn
.btn-wrap
	margin-top: 24px
	font-size: 0
	text-align: right
	@include r(step3)
		text-align: center
.btn
	&.btn_custum
		width: 42px
		padding: 8px 0px
		margin-left: 7px
		display: inline-block
		text-align: center
		+border-radius(5px)
		color: #FFF 
	&.btn_dark
		background: #313131
		&:hover, &:focus
			// background: #3D3D3D 
			color: #fff
			text-decoration: none
	&.btn_blue
		padding: 13px 32px
		border: 1px solid #7bb3cb
		@include border-radius(4px)
		background-color: #5199f3
		+g(#78c8f9, #2d6bef)
		color: #FFF
		font-size: 18px
		font-weight: 800 
		@include text-shadow(0 -1px 0 #000)
		&:hover
			color: #fff 
// dropdown
.dropdown
	&.dropdown_lang
		display: inline-block
		.dropdown-menu
			background: #313131
			margin: -4px 0 0
			right: 0px
			left: initial
			border: none
			+border-radius(3px 0 3px 3px)
			li
				margin-top: 5px
				&:first-child
					margin-top: 0
				.ico
					margin-right: 10px
				a
					color: #FFF
					text-align: left
					&:hover
						background: #444242 
	&.open
		+border-radius(3px 3px 0px 3px)