// Normally mainpage styles
.body
	background: url('../img/background.png') 0 0 no-repeat !important 
	background-size: cover !important
	background-attachment: fixed !important
	font: normal 14px"Roboto", sans-serif !important
#wrap
	width: 100%
	height: 100%
h3, .h3 
	+rt
h4, .h4
	color: #4F4F4F 
	font-size: 22px
.wrapper-gallery
	position: relative
.header-wrapper
	margin-top: 37px
	margin-bottom: 17px
.header__row
	border-radius: 5px
	height: 300px
.header-wrapper__top
	padding: 7px 0 7px 5px 
	border-radius: 5px 5px 0 0
	color: #FFF 
	background: #5cd7e2
	vertical-align: middle
	p
		line-height: 2.1
		font-size: 18px
.top-link
	padding: 10px 30px 0 0
	color: #FFF 
	font-weight: bold
	line-height: 2.6
	text-decoration: underline
	+rb
	&:hover
		text-decoration: none
		color: #FFF
.dropdown_inb
	float: right
	margin-top: 0
	display: inline-block
	a
		text-decoration: none
	.btn
		background: rgba(49, 49, 49, 0.4) 
		&:hover
			background: #313131 
			+transition(.2s)
	.open
		.btn
			background: #313131
.header-wrapper__bott
	padding: 20px 0
	border-radius: 0 0 5px 5px
	background: #fff
	color: #434343
	font-size: 18px
	font-weight: normal
	.text-bold
		color: #000 
	.text-light
		font-size: 14px
	strong
		font-size: 22px
.header-wrapper__logo
	position: relative
	padding-left: 80px
	color: #075B99 
	line-height: 75px 
	font-size: 24px
	+rh
	&:hover
		text-decoration: none
	i
		position: absolute
		top: -30px
		left: 0
		+s(logo-header)
.gallery
	position: relative
	height: 400px
	margin-bottom: 20px
	border-radius: 5px 5px 0 0
	overflow: hidden
.gallery__item
	position: relative
	float: left
	width: 100%
	height: 100%
	display: block
.gallery__img 
	position: absolute
	float: left
	top: 0
	bottom: 0
	left: 0
	right: 45%
	background-position: center !important
	background-repeat: no-repeat !important
	background-size: cover !important
.gallery__block
	position: absolute
	bottom: 0
	right: 0
	width: 45%
	height: 100%
	background: #384352 
.gallery__text
	position: relative
	padding: 15px 67px 28px 30px
	color: #fff
	width: 100%
	height: 100%
	.btn
		position: absolute
		left: 30px
		right: 67px
		bottom: 30px
		font-size: 22px
		+rb
	.gallery__text_top
		padding-bottom: 15px
		line-height: 1.6
		display: block
.cycle-pager
	position: absolute
	text-align: center
	width: 100%
	height: 10px
	bottom: 16px
	z-index: 500
	button
		margin-left: 5px
		width: 10px
		height: 10px 
		cursor: pointer
		display: inline-block
		background: #384352
		+border-radius(50%)
	.is-active
		background: #fff 
		border: 1px solid #384352 
.pager
	margin: 0
.cycle-pager_top
	top: 0
	bottom: auto
	left: 0
	right: 0
	font-size: 0
	button
		margin: 0
		width: 33.3333333% 
		height: 6px
		opacity: 0.5
		background: #FFF 
		+border-radius(0)
	.is-active
		opacity: 1
		border: none 
		background: #5CD7E2 
.gallery__nav 
	position: absolute
	top: 50%
	margin-top: -20px
	width: 40px
	height: 40px
	border-radius: 5px
	box-shadow: 0 0 0 1px #7bb3cb
	z-index: 200
	background: #34c6d6 
	+g(#85e9ef, #34c6d6)
.gallery__prev 
	left: -20px
	i
		position: absolute
		top: 12px
		left: 13px
		+s(pref)
.gallery__next 
	right: -20px
	i
		position: absolute
		top: 12px
		right: 13px
		+s(next)
.block-padd
	padding: 5px 25px 45px 30px 
.img-responsive__block
	position: relative
	img
		margin-bottom: 18px
		width: 100%
.thumbnail_sha-bott
	// box-shadow: 0 -3px 0 0 #5cd7e2 inset
	border-bottom: 5px solid #5cd7e2
	height: 24.5em
.container_sha-top
	margin-bottom: 15px
	background: #FFF 
	border-radius: 5px
	border-top: 6px solid #5cd7e2
.container_bor-top
	border-top: 6px solid #5cd7e2
	background: #FFF 
.price
	position: absolute
	padding: 6px 15px 
	top: 17px
	right: 11px
	width: 96px
	height: 62px
	color: #FFF 
	font-size: 15.06px 
	line-height: 1
	font-weight: normal
	z-index: 1 
	text-align: right
	background: #3DC972
	font-size: 15.06px 
	+rl
	strong
		font-size: 18.41px
		font-weight: bold
	i
		position: absolute
		right: 0
		top: 100%
		+s(pic2)
.preview
	position: absolute
	top: 27px
	left: 8px
	width: 30px
	height: 20px
	color: #3DC972
	text-align: center
	vertical-align: middle
	line-height: 1.3 
	border-radius: 50%
	border: 1px solid #42ca75 
	background: #fff 
	+rb
	&:before
		position: absolute
		content: ""
		left: 11px
		bottom: -7px
		+s(pic3)
.rating
	position: absolute
	left: 0
	top: 0
	border-radius: 0 0 5px 0
	+s(pic4)
.h4_block
	padding: 0 14px 
	font-size: 18px
	+rl
.block__text_bott
	position: absolute
	bottom: 25px
	left: 30px
	width: 100%
	padding-right: 70px
.block__text_left
	position: relative
	float: left
	padding-left: 80px
	i
		position: absolute
		left: 10px
		top: 1px
		+s(pic5)
.strong_green
	float: right
	color: #3DC972
	display: inline-block 
	&:hover
		color: #3DC972
.review-block
	height: 14em
.footer-col
	padding-bottom: 60px
	background: #FFF 
	.block-padd
		padding: 5px 25px 45px 0
.padding_
	margin-left: 0
	margin-right: 0
.social
	a
		position: relative
		width: 30px
		height: 30px
		margin-right: 10px
		display: inline-block
		
	.facebook
		i
			position: absolute
			top: 0
			left: 0
			+s(fb)
	.twitter
		i
			position: absolute
			top: 0
			left: 0
			+s(tw)
	.p-soc
		i
			position: absolute
			top: 0
			left: 0
			+s(pt)
.footer-col__logo
	top: 0
	left: 0
	display: block
	+s(logo-footer)
.footer-col__copyright_mod
	padding-right: 20px
.footer-col__copyright
	font-size: 12px
	text-align: right
.row__mod
	&:before
		display: none
	&:after
		display: none
.text_grey
	color: #434343 
.text-bold
	font-weight: bold
.text-light
	+rl 
.text-black
	+rb
@media (max-width: 1200px)
	.thumbnail_sha-bott
		height: 21em
@media (max-width: 992px)
	.thumbnail_sha-bott
		height: 24.5em
	.review-block
		height: 18em
	.gallery
		height: 32em 
@media (max-width: 768px)
	.header-wrapper__logo
		font-size: 22px
	.thumbnail_sha-bott
		height: 100%
	.review-block
		height: 19.7em 
	.gallery__item
		position: relative
	.gallery__img 
		right: 0
	.gallery__text
		padding: 15px
	.text-pad
		padding-bottom: 35px
	.gallery
		height: 32em
		.gallery__block
			position: absolute
			top: 0
			right: 0
			width: 100%
			text-align: right
			background: none
			.btn
				left: auto
				min-width: 100px
				font-size: 13px
	.gallery__text
		.btn
			font-size: 18px
@media (max-width: 320px)
	*
		text-align: center
		.review-block
			height: 30em 